html::-webkit-scrollbar {
    display: none;
}

html {
    scrollbar-width: none;
}

body {
    background-color: #1f1f26;
    margin: 0px;
    animation: fadeIn ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#menu {
    position: absolute;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 24rem);
    position: absolute;
    right: 600;
    bottom: 500;
    z-index: 3;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#menu[data-active-index="0"] > #image-icon {
    animation: fadeIn ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("../img/search.png");
}

#menu[data-active-index="1"] > #image-icon {
    animation: fadeIn ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background-image: url("../img/bookmark.png")
}

#menu[data-active-index="2"] > #image-icon {
    background-position: 0% -75%;
}

#menu[data-active-index="3"] > #image-icon {
    background-position: 0% -100%;
}


#image-icon {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../img/search.png");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 40vmin 40vmin;
    height: 40vh;
    left: 20px;
    position: absolute;
    top: 300px;
    transition: 
        background-size 800ms ease,
        background-position 800ms ease;
    width: 25vw;
    z-index: 2;
}

#menu-items:hover ~ #image-icon {
    background-size: 36vmin 36vmin;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}
  
#menu-items:hover > .menu-item:hover {
    opacity: 1; 
}
  
.menu-item {
    color: white;
    cursor: pointer;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(3rem, 8vw, 8rem);
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    text-decoration: none;
    transition: opacity 400ms ease;
}

#time {
    position: absolute;
    text-align: center;
    top: 15vh;
    left: 32vw;
    color: #FFF;
    text-align: left;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: clamp(1rem, 8vw, 3.125rem);
    letter-spacing: 0.5208333333333334vw;
    margin-top: -6.282722513089006vh;
    padding-left: 0.5208333333333334vw;
    z-index: 3;
}

#date {
    position: absolute;
    text-align: center;
    top: 25vh;
    left: 32vw;
    color: #FFF;
    text-align: left;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
    z-index: 3;
}

.time-date {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#weather-img {
    border-radius: 10%;
    border: 10px ridge #38495a;
    position: absolute;
    top: 8vh;
    left: 55vw;
    z-index: 3;
}

button {
    background: transparent;
    border: transparent;
}

#bookmarks-area {
    position: absolute;
    top: 200vh;
}

.home-button {
    background: #1f1f26;
    border-radius: 20%;
    margin-bottom: 50px;
}

#bookmarks-list  {
    list-style-type: none;
    display: flex;
    padding: none;
    margin: none;
    flex-wrap: row wrap;
    align-items: baseline;
    overflow: hidden;
    text-align: center;
}

#bookmarks-list a {
    text-decoration: none;
}

#bookmarks-list li img {
    display: flex;
    justify-content: center;
    align-self: center;
}

#bookmarks-list li span {
    display: flex;
    font-family: "lato", sans-serif;
    padding: 0.1vw;
    color: #dcddde;
    text-decoration: none;
}

#bookmarks-list li {
    position: relative;
    padding-right: 3vw;
    margin-right: 2vw;
    background-color: #36393f;
    border-radius: 30%;
    transition: .5s;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 3vw;
}

#bookmarks-list li:hover {
    background-color: #565b65;
}